# ignore CVS files
CVS
/**/CVS

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# not for resources
!/resources/NITTOKU/*.jar
!/resources/NITTOKU/Lib/*.jar
/resources/NITTOKU/CVS

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# for emacs
*~
*#
\#*
.\#*

/common-component/target/
/db-adjuster/target/
/db-yearadjuster/target/
/kenshin-software/target/
/online-update/target/
/system-administrator-software/target/
/unlocker/target/

# for IDEA
.idea
